{
  "hosts": {
    "{{ grid_router_host_list }}": {
      "{{ grid_router_region }}": {
        "{{ grid_router_host_name }}": {
          "port": 4444,
          "count": 1
        }
      }
    }
  },
  "quota": {
    "selenoid": {
      "firefox": {
        "defaultVersion": "54.0",
        "versions": {
          "54.0": "{{ grid_router_host_list }}",
          "53.0": "{{ grid_router_host_list }}",
          "52.0": "{{ grid_router_host_list }}",
          "51.0": "{{ grid_router_host_list }}",
          "50.0": "{{ grid_router_host_list }}",
          "49.0": "{{ grid_router_host_list }}",
          "48.0": "{{ grid_router_host_list }}",
          "47.0": "{{ grid_router_host_list }}",
          "46.0": "{{ grid_router_host_list }}",
          "45.0": "{{ grid_router_host_list }}",
          "44.0": "{{ grid_router_host_list }}",
          "43.0": "{{ grid_router_host_list }}",
          "42.0": "{{ grid_router_host_list }}",
          "41.0": "{{ grid_router_host_list }}",
          "40.0": "{{ grid_router_host_list }}",
          "39.0": "{{ grid_router_host_list }}",
          "38.0": "{{ grid_router_host_list }}",
          "37.0": "{{ grid_router_host_list }}",
          "36.0": "{{ grid_router_host_list }}",
          "35.0": "{{ grid_router_host_list }}",
          "34.0": "{{ grid_router_host_list }}",
          "33.0": "{{ grid_router_host_list }}",
          "32.0": "{{ grid_router_host_list }}",
          "31.0": "{{ grid_router_host_list }}",
          "30.0": "{{ grid_router_host_list }}",
          "29.0": "{{ grid_router_host_list }}",
          "28.0": "{{ grid_router_host_list }}",
          "27.0": "{{ grid_router_host_list }}",
          "26.0": "{{ grid_router_host_list }}",
          "25.0": "{{ grid_router_host_list }}",
          "24.0": "{{ grid_router_host_list }}",
          "23.0": "{{ grid_router_host_list }}",
          "22.0": "{{ grid_router_host_list }}",
          "21.0": "{{ grid_router_host_list }}",
          "20.0": "{{ grid_router_host_list }}",
          "19.0": "{{ grid_router_host_list }}",
          "18.0": "{{ grid_router_host_list }}",
          "17.0": "{{ grid_router_host_list }}",
          "16.0": "{{ grid_router_host_list }}",
          "15.0": "{{ grid_router_host_list }}",
          "14.0": "{{ grid_router_host_list }}",
          "13.0": "{{ grid_router_host_list }}",
          "12.0": "{{ grid_router_host_list }}",
          "11.0": "{{ grid_router_host_list }}",
          "10.0": "{{ grid_router_host_list }}",
          "9.0": "{{ grid_router_host_list }}",
          "8.0": "{{ grid_router_host_list }}",
          "7.0": "{{ grid_router_host_list }}",
          "6.0": "{{ grid_router_host_list }}",
          "5.0": "{{ grid_router_host_list }}",
          "4.0": "{{ grid_router_host_list }}",
          "3.6": "{{ grid_router_host_list }}"
        }
      },
      "chrome": {
        "defaultVersion": "59.0",
        "versions": {
          "59.0": "{{ grid_router_host_list }}",
          "58.0": "{{ grid_router_host_list }}",
          "57.0": "{{ grid_router_host_list }}",
          "56.0": "{{ grid_router_host_list }}",
          "55.0": "{{ grid_router_host_list }}",
          "54.0": "{{ grid_router_host_list }}",
          "53.0": "{{ grid_router_host_list }}",
          "52.0": "{{ grid_router_host_list }}",
          "51.0": "{{ grid_router_host_list }}",
          "50.0": "{{ grid_router_host_list }}",
          "49.0": "{{ grid_router_host_list }}",
          "48.0": "{{ grid_router_host_list }}"
        }
      },
      "opera": {
        "defaultVersion": "45.0",
        "versions": {
          "45.0": "{{ grid_router_host_list }}",
          "44.0": "{{ grid_router_host_list }}",
          "43.0": "{{ grid_router_host_list }}",
          "42.0": "{{ grid_router_host_list }}",
          "41.0": "{{ grid_router_host_list }}",
          "40.0": "{{ grid_router_host_list }}",
          "39.0": "{{ grid_router_host_list }}",
          "38.0": "{{ grid_router_host_list }}",
          "37.0": "{{ grid_router_host_list }}",
          "36.0": "{{ grid_router_host_list }}",
          "35.0": "{{ grid_router_host_list }}",
          "34.0": "{{ grid_router_host_list }}",
          "33.0": "{{ grid_router_host_list }}",
          "12.16": "{{ grid_router_host_list }}"
        }
      }
    }
  }
}
