{
  "hosts": {
    "{{ grid_router_host_list }}": {
      "{{ grid_router_region }}": {
        "{{ grid_router_host_name }}": {
          "port": 4444,
          "count": 1
        }
      }
    }
  },
  "quota": {
    "selenoid": {
      {% for browser in grid_router_browsers %}
         "{{ browser.name }}": {
            "defaultVersion": {{ browser.defaultVersion }},
            "versions": {
                 {% for version in browser.versions %}
                   "{{ version }}": "{{ grid_router_host_list }}"
                   {%- if not loop.last -%}
                     ,
                   {%- endif -%}
                 {%- endfor -%}
            }
         }
        {%- if not loop.last -%}
          ,
        {%- endif -%}
        {% endfor %}
    }
  }
}
